.home-wrapper {
  position: absolute;
  left: 140px;
  right: 0;
  bottom: 0;
  top: 0;
  box-sizing: border-box;
  background: #f2f2f2;
}
.xcxerxes-input {
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  width: 100%;
}